@import '../../../fonts/fonts.css';

.Credits {
    background-image: url('https://thumbs.gfycat.com/CompassionateGoldenAllensbigearedbat-size_restricted.gif');
    background-position: top;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.Credits h6 {
    font-family: 'Open Sans', sans-serif;
}